@using BugReport.Models.Report;
@model List<ReportViewModel>
@{
    ViewData["Title"] = "Reports";
}

<div class="main-card">
    <form asp-controller="Report" asp-action="Index" method="get">
        <div class="row align-items-center g-3">
            <div class="col-12 col-md-6">
                <input type="text" name="search" value="@ViewContext.HttpContext.Request.Query["search"]" class="form-control" placeholder="Search reports..." />
            </div>

            <div class="col-auto d-flex justify-content-start justify-content-md-center gap-3">
                <div class="dropdown">
                    <button class="btn btn-outline-dark-blue px-4 dropdown-toggle" type="button" id="statusDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter Status
                    </button>
                    <ul class="dropdown-menu p-3" aria-labelledby="statsDropdown" style="min-width:200px;">
                        @foreach (var status in ViewBag.Statuses)
                        {
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="statuses" value="@status" id="status_@status">
                                    <label class="form-check-label" for="status_@status">@status</label>
                                </div>
                            </li>
                        }
                        <li class="dropdown-divider"></li>
                        <button type="submit" class="btn btn-dark-blue px-4 w-100">Filter</button>
                    </ul>
                </div>

            </div>
            @if (User.IsInRole("Student"))
            {
                <div class="col-auto ms-auto">
                    <a asp-controller="Report" asp-action="Create" class="btn btn-dark-blue px-4 py-2">
                        New report
                    </a>
                </div>
            }
        </div>
    </form>

    <div class="table-responsive mt-4">
        <table class="table align-middle report-table">
            <thead class="px-2 mt-4">
                <tr>
                    <th>From</th>
                    <th>Title</th>
                    <th class="text-end">Modified</th>
                </tr>
            </thead>
            <tbody>
                @if (Model is not null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr class="clickable-row" data-href="@Url.Action("Details", "Report", new { id = item.Report.Id })">
                            <td>
                                @(item.Report.Reporter != null ? $"{item.Report.Reporter.FirstName} {item.Report.Reporter.LastName}" : "Unknown")
                            </td>
                            <td class="text-truncate title-cell justify-content-between" style="max-width:250px" title="@item.Report.Title">
                                @item.Report.Title
                                @if (item.LatestChangeLog!.Status.Name != null)
                                {
                                    <span class="badge @GetStatusBadgeClass(item.LatestChangeLog.Status.Name) float-end">
                                        @item.LatestChangeLog.Status.Name
                                    </span>
                                }
                            </td>
                            <td class="text-end text-muted" style="min-width:150px">
                                @item.LatestChangeLog?.Timestamp.ToString("d")
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="100%" class="title-text text-center">No report found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@functions {
    public string GetStatusBadgeClass(string normalizedStatus) => normalizedStatus?.ToUpper() switch
    {
        "RESOLVED" => "bg-success",
        "REJECTED" => "bg-danger",
        "BLOCKED" => "bg-warning",
        _ => "bg-dark"
    };
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
         document.querySelectorAll(".clickable-row").forEach(row => {
             row.addEventListener("click", () => {
                 window.location = row.dataset.href;
             });
         });
     });
</script>